body {
    background-color: rgb(112, 111, 111);
}

.title {
    font-family: "sausage", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 500%;
    margin-top: 4%;
    color: #000000;
    text-shadow: 0 0 30px #ddd3f5;

}

.btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd3f5;
    transition: all 1s ease 0s;
}
.btn:hover {
    animation: bounce 1s;
    background-color: #ddd3f5;
    filter: drop-shadow(0 0 0.75rem #ddd3f5);
    transition: all 1s ease 0s;
}

.img {
    filter: drop-shadow(0 0 0.75rem #ddd3f5);
    transition: all 1s ease 0s;
}
.img:hover {
    transition: all 1s ease 0s;
    animation: rotation 1.5s;
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Starting and ending position (at the bottom) */
  }
  40% {
    transform: translateY(-30px); /* Bounces up to this height */
  }
  60% {
    transform: translateY(-15px); /* Slightly lower bounce */
  }
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}